p {
	border-style: dashed;
	border-bottom-right-radius: auto;
}

.nesting1 {
    text-indent: 3%;
    /* text-align: center; */
    /* list-style-type: circle; */
}

.nesting2 {
    list-style-type: square;
    text-indent: 6%;
}

.nesting3 {
    list-style-type: circle;
    text-indent: 3%;

}

.nestingNum {
    list-style-type: roman;
}

.system-font-stack {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu,
    Cantarell, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

button {
	cursor: pointer;
	position: relative;
	padding: 1rem 5rem;
	border-radius: 1rem;
	line-height: 1.5rem;
	font-size: 2rem;
	font-weight: 600;
	
	border: 1px solid #012880;
	background-image: linear-gradient(-180deg, #FF89D6 0%, #C01F9E 100%);
	box-shadow: 0 1rem 1.25rem 0 rgba(22,75,195,0.50),
							0 -0.25rem 1.5rem rgba(110, 15, 155, 1) inset,
							0 0.75rem 0.5rem rgba(255,255,255, 0.4) inset,
							0 0.25rem 0.5rem 0 rgba(180, 70, 207, 1) inset;
}

button span {
	color: transparent;
	background-image: linear-gradient(0deg, #EE82DA 0%, #FEFAFD 100%);
	-webkit-background-clip: text;
	background-clip: text;
	filter: drop-shadow(0 2px 2px hsla(290, 100%, 20%, 1));
}

button::before {
	content: "";
	display: block;
	height: 0.25rem;
	position: absolute;
	top: 0.5rem;
	left: 50%;
	transform: translateX(-50%);
	width: calc(100% - 7.5rem);
	background: #fff;
	border-radius: 100%;
	
	opacity: 0.7;
	background-image: linear-gradient(-270deg, rgba(255,255,255,0.00) 0%, #FFFFFF 20%, #FFFFFF 80%, rgba(255,255,255,0.00) 100%);
}

button::after {
	content: "";
	display: block;
	height: 0.25rem;
	position: absolute;
	bottom: 0.75rem;
	left: 50%;
	transform: translateX(-50%);
	width: calc(100% - 7.5rem);
	background: #fff;
	border-radius: 100%;
	
	filter: blur(1px);
	opacity: 0.05;
	background-image: linear-gradient(-270deg, rgba(255,255,255,0.00) 0%, #FFFFFF 20%, #FFFFFF 80%, rgba(255,255,255,0.00) 100%);
}

footer {
	background-image: url('../static/thanksgivingMeal.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	color: whitesmoke;
	margin: 0 auto;
	text-align: right;
}

/* recipe pages */

#caesarSalad {
	background-image: url('gold_gradient.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: 100px%;
	height: 100%;
	color: gray;
	padding: 50px;
}

.groceryList {
	padding: 30px;
}

#groceryLists {
	background-image: url('clouds.jpg');
}

.recipeImages {
	border-style: solid;
	border-width: 5px;
	border-color: whitesmoke;
	border-radius: 5px;
	height: 250px;
	width: 275px;

}

#paypalDonation {
	margin: 0 auto;
	width: 320px;
	height: 80px;
	background-color: peachpuff;
	padding: 20px;
	border-radius: 5%
}

#paypalButton {
	text-align: center;
	padding: 10px;
}