<html>
  <head>
    <link rel="stylesheet" href="/Users/bneal/Desktop/playground/static/thanksgiving_menu.css">
  </head>
  <body>
		<!-- <div> -->
			<div class="system-font-stack" id="caesarSalad">
				<button type="button"><a href="./index.html">Back to Home</a></button>
			<div>
				<h1>Caesar Salad</h1>
					<h2>Ingredients</h2>
						<li>Dijon mustard</li>
						<li>Worcestershire Sauce</li>
						<li>Lemon Juice</li>
						<li>Anchovy paste</li>
						<li>Olive Oil</li>
						<li>salt/pepper</li>
						<li>crushed garlic</li>
						<li>Romaine</li>
					<h2>Instructions</h2>
						<ol type="I">
							<li>Grind pepper directly on the leaves</li>
							<li>Combine all Ingredients and mix well</li>
							<li>toss the romaine with the dressing</li>
							<li>enjoy!</li>
						</ol>
					<h2>Optional</h2>
						<p class="system-font-stack">Add additional items to the romaine. Suggestions:
							<li>artichoke hearts</li>
							<li>hearts of palm</li>
							<li>hemp seeds</li>
						</p>
				</div>
			</div>
		<!-- </div> -->
  </body>
</html>

<!-- for some reason, bg image disappears -->