<html>
  <head>
    <link rel="stylesheet" href="/Users/bneal/Desktop/playground/static/thanksgiving_menu.css">
  </head>
  <body>
		<!-- <div> -->
			<div class="salad">
			  <button type="button"><a href="index.html">Back to Home</a></button>
			<div>
				<h1>Christmas Salad</h1>
					<h2>Ingredients</h2>
						<h3><u>Salad</u></h3>
							<li>Mixed Greens</li>
							<li>Pomegranate Seeds</li>
							<li>Toasted Pecans</li>
							<li>d'Anjou Pear or Bosc Pear</li>
							<li>Shaved Fennel</li>
						<h3><u>Dressing</u></h3>
							<li>1/4 cup Balsamic vinegar</li>
							<li>1/4 cup extra virgin olive oil</li>
							<li> medium shallot, minced</li>
							<li>1 pinch each sea salt and black pepper</li>
					<h2>Instructions</h2>
						<ol type="I">
							<li>Whisk together all dressing ingredients</li>
							<li>Toss the greens with the dressing</li>
							<li>Toss half the ingrdients in with the greens</li>
							<li>Place rest of ingredients as garnish</li>
							<li>Enjoy!</li>
						</ol>
					<p>inspiration from: <a href="https://minimalistbaker.com/pear-salad-dried-cherries-candied-walnuts/">
						Minimalist Baker pear cherry salad</a>
					</p>
				</div>
			</div>
		<!-- </div> -->
  </body>
</html>

<!-- for some reason, bg image disappears -->