<html>
  <head>
    <link rel="stylesheet" href="static/thanksgiving_menu.css">
  </head>
  <body>
		<div class="system-font-stack"
		<button type="button"><a href="thanksgiving_menu.html">Back to Home</a></button>
    <h1>Cranberry Sauce</h1>
			<h2>Ingredients</h2>
				<li>12 oz fresh cranberries</li>
				<li>3 oranges</li>
				<li>1 granny smith apple</li>
				<li>4-5 dates</li>

			<h2>Instructions</h2>
				<ol type="I">
					<li>Rinse cranberries: Place the cranberries in a colander and rinse them. 
						Pick out and discard any damaged or bruised cranberries.
					</li>
					<li>Squeeze enough orange juice for 1 cup - resserve some orange zest</li>
					<li>juice the granny smith (optional ingredient)</li>
					<li>Pit dates and blend with the juice</li>
					<li>Combine all ingredients and bring to a boil</li>
					<li>Lower the heat, bring to a simmer for 10 minutes or until 75% of 
						the cranberries have burst
					</li>
					<li>Add in orange zest</li>
					<li>Remove from heat and let cool to room temp, then transfer to fridge</li>
				</ol>
			<h2>Optional</h2>
				<p class="system-font-stack">Suggestions:
					<li>pecans</li>
					<li>Sub half orange juice with pomegranate juice</li>
				</p>
			</div>
    <div>
    </div>
    </body>
</html>