<html>
  <head>
    <script src="http://unpkg.com/vue"></script>  
    <link rel="stylesheet" href="../static/thanksgiving_menu.css">
  </head>
  <body>
    <div class='groceryList' style="background-color: green">
      <p><b>Typical Sprouts Shopping List</b></p>
        <li>Nutritional Yeast</li>
        <li>Cocoyo</li>
        <li>eggs</li>
        <li>bone broth</li>
        <li>avocados</li>
        <li>chocolate</li>
        <li>sardines</li>
        <li>gut shot</li>
        <li>celery</li>
		</div>
    <div class='groceryList' style="background-color: red">
      <p><b>Typical Costco Shopping List</b></p>
				<li>Sweet Potato</li>
        <li>almond milk</li>
        <li>Eggs</li>
        <li>Mixed Greens</li>
        <li>Sauerkraut</li>
        <li>Guac cups</li>
        <li>oatmeal</li>
        <li>sundried tomatoes</li>
        <li>olive/avocado oil</li>
        <li>sardines/tuna/canned salmon</li>
        <li>nuts? (cashews, walnuts, pistachios, etc)</li>
        <li>Orgain</li>
		</div>
		<div class='groceryList' style='background-color: salmon'>
			<p><b>Specialty Grocery List</b></p>
				<li>Schezuan pepper flakes/powder</li>
				<li>Aleppo pepper (Turkish)</li>
		</div>
  </body>
</html>