<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="../static/mystyle.css">

  </head>
  <body>
    <div id='wholePage'>
      <div id="heart" class="wholeHeart"></div>
      <div id="brittany">Welcome to Brittany's Playground</div>
      <div id="enterPlayground">click here to enter</div>
      <div>
        <a href="./christmas_menu_2019.html">Christmas 2019 Menu</a></div>
        <a href="./thanksgiving_menu.html">Thanksgiving 2019 Menu</a></div>
        <a href="./grocery_lists.html">Grocery Lists</a></div>
    </div>
    <script src="static/playground.js"></script>
  </body>
</html>