<html>
  <head>
    <link rel="stylesheet" href="/Users/bneal/Desktop/playground/static/thanksgiving_menu.css">
  </head>
  <body>
		<div>
			<div class="system-font-stack" id="caesarSalad">
				<button type="button"><a href="./index.html">Back to Home</a></button>
			<div>
				<h1>Plane Snacks</h1>
					<li>Food Bricks</li>
					<li>Trail Mix (pistachios, cashews, choc chips, coconut)</li>
					<li>Beef jerky</li>
					<li>Turkey jerky</li>
					<li>HB/baked eggs</li>
					<li>Sardines</li>
					<li>Chocolate (Alter Eco + TJs 100% + Mom's truffles)</li>
					<li>Apples</li>
					<li>Bring sandwiches?</li>
					

		</div>
  </body>
</html>

<!-- for some reason, bg image disappears -->