<html>
  <head>
    <script src="http://unpkg.com/vue"></script>  
    <link rel="stylesheet" href="/Users/bneal/Desktop/playground/static/thanksgiving_menu.css">
  </head>
  <body>
    <div id='groceryLists'>
      <p><a href="grocery_lists.html">Grocery Lists</a></p>
    </div>
    <div style="background-color: bisque">
      <p><b>Thanksgiving Menu</b></p>
      <h1>Appetizers</h1>
        <li class="nesting1"><a href="../static/recipes/butternut_squash_soup.jpeg">Butternut squash soup</a></li>
        <li class="nesting1"><a href=https://minimalistbaker.com/vegan-jalapeno-poppers/> Jalapeno poppers</a></li>
        <li class="nesting1"><a href=https://minimalistbaker.com/cashew-less-vegan-queso/>Cashew Queso Dip</a></li>
        <li class="nesting1">Shrimp Cocktail</li>
        <li class="nesting2">Homemade Cocktail Sauce</li>
        <li class="nesting2">Homemade garlic lemon aioli</li>
      <h1>Entree</h1>
        <li>turkey</li>
        <li>gravy</li>
      <h1>Sides</h1>
        <li><a href="./cranberry_sauce.html">Cranberry sauce</a></li>
        <li><a href="../static/recipes/stuffing_paleo.jpeg">Stuffing</a></li>
        <li><a href="./caesar_salad.html">Caesar Salad</a></li>
        <li>Sauteed Chard</li>
        <li>Sweet Potato Mash</li>
        <li><a href="https://www.thekitchn.com/vegan-mashed-potatoes-263095">Yukon Gold Potato Mash</a></li>
        <li>Pumpkin Pie</li>
    </div>
    <div style="background-color:burlywood">
      <p><b>Thanksgiving Grocery List</b></p>
      <ul>Costco</ul>
        <li>Onions</li>
        <li>cashews</li>
        <li>2 lbs Mushrooms</li>
        <li>dates</li>
        <li>sweet potatoes</li>
        <li>Yukon Gold potatoes</li>
        <li>smoked salmon</li>
        <li>mixed greens/romaine</li>
      <br>
      <ul>Whole Foods/Sprouts</ul>
        <li>Pectin and/or gelatin</li>
        <li>cocoyo</li>
        <li>butternut squash</li>
        <li>parnsips</li>
        <li>horseradish</li>
        <li>Persimmons</li>
        <li>2 Leeks</li>
        <li>fresh thyme</li>
        <li>1 cauliflower</li>
        <li>garlic</li>
        <li>hazelnuts?</li>
        <li>oranges (for juice for cranberry sauce)</li>
        <li>ground cloves</li>

      <ul>HAVE</ul>
        <li>1/3 cup parsley</li>  
        <li>Celery</li>  
        <li>lemon</li>  
        <li>almond meal</li>  
        <li>nutmeg</li>  
        <li>chicken broth (btboul)</li>  
        <li>almond meal</li>  

      <p><b>Thanksgiving Day Plan</b></p>
        <ol type="I" >Wednesday
          <li class="nestingNum">Clean</li>
          <li>Cranberry Sauce</li>
          <li>Butternut Squash Soup</li>
          <li>Take Shrimp Out of Freezer</li>
        </ol>
      <p><b>Grocery List</b></p>
        <li>Nutritional Yeast</li>
        <li>Jalapenos 10+</li>
        <li>Cumin</li>
        <li>Cassava Chips</li>
        <li>Green Chilies</li>
        <li>Cashews</li>
        <li>Onion</li>
        <li>Eggplant (when selecting, select heavy, medium to large ones)</li>

      </div>
      <div style='background-color: goldenrod'>   
      <p><b>Recipes to Try</b></p>
        <li>
          <a href=
          'https://www.chilipeppermadness.com/chili-pepper-recipes/chicken/chicken-vindaloo/'>
          Chicken Vindaloo
          </a>
        </li>
        <li>
          <a href=
          https://downshiftology.com/recipes/salmon-patties/> salmon cakes 
          </a>(like crab cakes)
        </li>
        <li>
          <a href=
          https://downshiftology.com/recipes/shakshuka/>
          Shakshuka
          </a>
        </li>
        <li>
            <a href=
              https://www.gimmesomeoven.com/egg-drop-soup/> Egg Drop Soup    
            </a>
        </li>
        <li>
            <a href=
            https://www.edibleharmony.com/paleo-bread-pudding-persimmon-pudding/>
            Persimmon Bread Pudding (Paleo, dairy-free)
            </a>
        </li>
        <li>
            <a href=
            https://www.allrecipes.com/recipe/13715/persimmon-pudding/>
             Persimmon Bread Pudding
            </a>[Alternate Recipe - (unhealthy, can adapt, remove sugar)]
        </li>
        <li>
          <a href=
          https://www.livingminnaly.com/allposts/2019/12/2/pumpkin-spice-muffins>
          Pumpkin Muffins 
          </a>(can add semi-rehydrated cranberries + formulate toasted pecan crumble topping to top with)
      </li>
        <li>
          <a href=
          https://www.simplyrecipes.com/recipes/cranberry_salsa/>
          Cranberry Salsa
          </a>
      </li>
    </div>
    <div id="paypalDonation">
      Finding this site useful? Consider the following:
      <div id='paypalButton'>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <input type="hidden" name="cmd" value="_donations" />
          <input type="hidden" name="business" value="F3VDLSJJ7E8TL" />
          <input type="hidden" name="item_name" value="testing" />
          <input type="hidden" name="currency_code" value="USD" />
          <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
          <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
        </form>   
      </div> 
    </div>
    <footer>
      <p>Created by: Brittany Neal<br>
        <a href="mailto:brittanyneal22@gmail.com">Brittanyneal22@gmail.com</a></p>
    </footer>
  </body>
</html>